@media only screen and (max-width: 700px) {
    .tablediv {
        position: relative;
        left: 2.5vw;
    }
    .table1 tr {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    input {
        text-align: center;
    }
}

body {
    height: 100vh;
    width: 100vw;
    /*background-color: #D82F84;*/
}

.loupe {
    margin-right: 2px;
    height: 5.5rem;
    visibility: hidden;
}

input[type="submit"],
input[type="reset"] {
    border: none;
    font-weight: 800;
    font-size: 1vw;
    width: 12%;
    transition: 1s;
    color: #CDD5DF;
    background-color: #E91E63;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    color: #E91E63;
    background-color: #CDD5DF;
}

label i {
    cursor: pointer;
    background: -webkit-linear-gradient(left, #D82F84 5%, purple 20%, blue 200%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.boxresult {
    border: .05rem solid black;
    box-shadow: 1px 3px 10px 1px gray inset;
    overflow-x: hidden;
    height: 15rem;
}

table {
    text-align: center;
}

.table1 {
    height: 50vh;
    /*box-shadow: 1px 3px 10px 1px gray;*/
    width: 70vw;
}

.table2 {
    height: 1vh;
    width: 30vw;
}

.tablediv {
    display: flex;
    flex-direction: row;
}

td {
    /*cursor: pointer;*/
}

option:nth-child(1) {
    display: none;
}

select {
    height: 7vh;
    width: 100%;
    /*font-size: 1rem;*/
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.5;
    color: white;
    vertical-align: middle;
    background-color: inherit;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#select {
    position: absolute;
    top: -1vh;
    right: 3vw;
    display: block;
    height: 7vh;
    width: 80%;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.5;
    color: white;
    vertical-align: middle;
    background-color: inherit;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

#fsseur,
#depfsseur,
#panne,
#solution {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    cursor: pointer;
    display: block;
    height: 7vh;
    width: 100%;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.5;
    color: black;
    vertical-align: middle;
    background-color: white;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media (min-width: 1200px) {
    option {
        font-size: 3.5rem;
    }
}

option {
    font-family: verdana;
    text-transform: uppercase;
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 500;
    line-height: 1.2;
    background-color: white;
    cursor: pointer;
    color: black;
    font-size: 1.5vw;
}

select:hover {
    border: solid 5px purple;
    background: -webkit-linear-gradient(left, rgba(216, 47, 132, .2) 5%, rgba(80, 00, 80, .2) 20%, rgba(0, 0, 255, .2) 200%);
}

.btn1 {
    box-shadow: 1px 0px 2.5px 1px rgba(0, 0, 0, .4) inset;
    box-shadow: 1px 0px 2.5px 1px rgba(0, 0, 0, .4);
}

.btn2 {
    position: absolute;
    left: 45%;
    box-shadow: 1px 0px 2px 2px rgba(0, 0, 0, .4) inset;
    box-shadow: 1px 0px 2.5px 1px rgba(0, 0, 0, .4);
}

.btn3 {
    float: right;
    box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, .4) inset;
    box-shadow: 1px 0px 2.5px 1px rgba(0, 0, 0, .4);
}

.button {
    border: solid .5px;
    border-radius: 2px;
    height: 10vh;
    width: 15vw;
    font-size: 1vw;
    font-weight: 800;
    background-color: rgb(223, 49, 136);
}


/*button
{
	text-align: left;
	height: 100%;
	width: 100%;
	border:none;
	font-weight: 900;
}
button:hover
{
	background-color: rgba(0,0,0,.5);	
}
button:focus
{
	background-color: rgba(0,0,0,.8);
	color: gray;
	text-shadow: 1px 1px 2px rgb(223,49,136);
}*/

input[type="search"] {
    border-radius: 2px;
    margin-left: 5px;
    height: 5.5rem;
    width: 65%;
    font-size: 3vw;
    display: none;
}

input {
    border-radius: 5px;
    height: 5.5rem;
}

input[type="submit"],
[type="reset"] {
    box-shadow: 1px 3px 10px 1px gray;
}

input[type="reset"] {
    position: absolute;
    right: 30vw;
    float: right;
}

input[type="submit"] {
    position: absolute;
    left: 30vw;
}

input[readonly] {
    background: -webkit-linear-gradient(left, white 20%, #E91E63 85%);
}