ul
{
	display: flex;
	flex-direction: row;
	list-style-type: none;
}
li
{
	font-size: 2vw;
	font-weight: 800;
}
div	
{
	background-color: rgba(0,0,0,.2);
	max-height: 2.5vw;
	width: 13vw;
	border:2px solid black;
	border-radius: 15vh;
}
input
{
	cursor: pointer;
	transition: transform 1s, background-color 1s;
	height: 2.5vw;
	width: 2.5vw;
	border-radius: 100%;
	background-color: white;
	outline: none;
}
input:focus
{
	transform: translateX(10.5vw);
	background-color: black;	
}